name: Export for Linux and push to itch.io

on:
  workflow_call:
    inputs:
      artifact-name:
        type: string
        required: true
      build-version:
        type: string
      build-version-file:
        type: string
      debug:
        type: boolean
        default: false
      godot-version:
        type: string
        required: true
      name:
        type: string
        required: true
      preset:
        type: string
        required: true
      target:
        type: string
        required: true
    secrets:
      BUTLER_API_KEY:
        required: true

jobs:

  export:
    name: Export
    runs-on: ubuntu-latest
    container: ghcr.io/parsenoire/godot-headless:${{ inputs.godot-version }}
    steps:
    - uses: actions/checkout@v4
    - uses: parsenoire/godot-setup-action@v1
    - uses: parsenoire/godot-export-action@v1
      with:
        debug: ${{ inputs.debug }}
        output: "./export/${{ inputs.name }}"
        target: "${{ inputs.preset }}"
    - uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.artifact-name }}
        path: ./export

  push:
    name: Push to itch.io
    needs: export
    runs-on: ubuntu-latest
    container: ghcr.io/parsenoire/butler:latest
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: ${{ inputs.artifact-name }}
    - uses: parsenoire/butler-login-action@v1
      with:
        credentials: ${{ secrets.BUTLER_API_KEY }}
    - uses: parsenoire/butler-push-action@v1
      with:
        target: ${{ inputs.target }}
        version: ${{ inputs.build-version }}
        version-file: ${{ inputs.build-version-file }}
